body {
  margin: auto;
  background-image: url(../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#poem {
 position: relative;
 right: 300px;
 top: 120px;
 text-align: center;
 padding-top: 30px;
 padding-bottom: 24px;
}

#poem p{
 font-size: 24px;
}

#poem h2{
 font-size: 36px;
 color: maroon;
}

#poem h4{
 font-size: 26px;
 color: maroon;
}

#answer {
  position: relative;
  top: 75px;
  left: 290px;
  height: 48px;
  width: 200px;
  border: 3px dashed black;
}

#reset {
  position: relative;
  left: 510px;
  top: 36px;
}
.found {
  color: red;
}
