body {
  margin: auto;
}

#poem {
 text-align: center;
 padding-top: 30px;
 padding-bottom: 24px;
}

#poem p{
 font-size: 24px;
}

#poem h2{
 font-size: 36px;
 color: maroon;
}

#poem h4{
 font-size: 26px;
 color: maroon;
}

#answer {
  margin: auto;
  height: 48px;
  width: 200px;
  border: 3px dashed black;
}

#reset {
  position: relative;
  left: 48.5%;
  top: 20px;
}
.found {
  color: red;
}
