body {
  margin: auto;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  display: flex;
}

#haiku {
  margin: auto;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  width: 50vw;
  padding-top: 20vh;
  text-align: center;
}

#images {
  display: grid;
  grid-template-columns: 50vh, 50vh;
  grid-template-rows: 50vh, 50vh;
  position: absolute;
}

#flower1 {
  width: 300px;
  height: 290px;
  opacity: 0;
}

#flower2 {
  width: 300px;
  height: 290px;
  opacity: 0;
}

#bush {
  width: 300px;
  height: 290px;
  opacity: 0;
}
