html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  background-image: url("../assets/images/garden/space.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
 position: absolute;
 left: 58px;
 top: 128px;
 filter: saturate(70%);
}

#addFlower:hover, #addBee:hover, #changeGrass:hover, #changeSky:hover, #changeShelter:hover, #addMusic:hover {
  filter: saturate(120%);
  cursor: pointer;
}

#karma{
  position: absolute;
  left: 36px;
  top: 54px;
  font-size: 36px;
  font-family: monospace;
  padding: 5px;
  border-style: solid;
  border: gold, 2px;
  color: gold;
}

.manifestFlower {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  left: 225px;
  top: 152px;
}

.changeSky {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  left: 225px;
  top: 314px;
}

.changeShelter {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  left: 225px;
  top: 406px;
}

.hidden{
  display: none;
}

.shown {
  opacity: 1;
}

#small {
  font-size: 12px;
}

#save{
  position: absolute;
  background-color: rgb(37, 0, 71);
  color: gold;
  font-size: 36px;
  font-family: monospace;
  padding: 5px;
  border-style: solid;
  border: gold, 2px;
  right: 25px;
  top: 54px;
}

#save:hover{
  background-color: indigo;
  cursor: pointer;
}
