#aki{
  position: relative;
  display:inline-block;
  left: 50px;
  border: 3px solid ghostwhite;
  border-radius: 10%;
  padding: 20px;
}
#akiIcon {
  border-radius: 50%;
}

#musa{
  position: relative;
  display:inline-block;
  left: 100px;
  border: 3px solid ghostwhite;
  border-radius: 10%;
  padding: 20px;
}
#musaIcon {
  border-radius: 50%;
}

h1, h2{
  color: ghostwhite;
  text-align: center;
}

h1:hover, h2:hover{
  color: aquamarine;
}

#aki:hover, #musa:hover {
  border: 3px solid aquamarine;
}

.hide{
  display: none;
}
