#page {
  display: flex;
  height: 768px;
  position: relative;
  top: 50%;
  justify-content: center;
  align-items: center;
}

#apps {
padding: 50px;
}

#quote{
  position: fixed;
  right: 500px;
  top: 600px;
}

.icons {
  flex-grow: 1;
  margin: 10px;
  position: relative;
}

.icons:hover, .iconshovered {
    -webkit-transform: scale(1.2);
}

#email {
  bottom: 110px;
  left: 27px;
}

#food {
  top: 105px;
}

#garden {
  bottom: 110px;
  left: 335px;
}

#news {
  bottom: 110px;
  right: 495px;
}

#social {
  top: 105px;
  right: 50px;
}

#clock{
  position: absolute;
  right: 10px;
  top: 200px;
}

.shiftRight {
  transform: translateX(30px);
}
