#page {
  display: flex;
  height: 768px;
  position: relative;
  top: 50%;
  justify-content: center;
  align-items: center;
}

#apps {
padding: 50px;
}

#quote{
  position: fixed;
  right: 500px;
  top: 600px;
}

.icons {
  flex-grow: 1;
  margin: 10px;
  position: absolute;
}

.icons:hover, .iconshovered {
    -webkit-transform: scale(1.2);
}

#email {
  top: 145px;
  left: 138px;
}

#food {
  bottom: 150px;
  left: 340px;
}

#garden {
  top: 145px;
  right: 240px;
}

#messages {
  top: 145px;
  left: 535px;
}

#social {
  bottom: 150px;
  right: 390px;
}

#clock{
  position: absolute;
  right: 10px;
  top: 200px;
}

.shiftRight {
  transform: translateX(30px);
}
