*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#canvas {
  position: relative;
  top: 34px;
  margin: 0;
  padding: 0;
}

#toolbar {
  position: absolute;
  top: 0px;
}

#page {
  display: flex;
  height: 768px;
  position: relative;
  top: 50%;
  justify-content: center;
  align-items: center;
}

#apps {
padding: 50px;
}

#quote{
  position: fixed;
  right: 500px;
  top: 600px;
}

.icons {
  flex-grow: 1;
  margin: 10px;
}

.icons:hover, .iconshovered {
    -webkit-transform: scale(1.2);
}

#email {
  opacity: 1;
}
