#page {
  display: flex;
  height: 768px;
  position: relative;
  top: 50%;
  justify-content: center;
  align-items: center;
}

#startButton {
  position: absolute;
  top: 490px;
}

#startButton:hover{
  cursor: pointer;
  filter:drop-shadow(8px 8px 10px gray);
}

#logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.hide {
  display: none;
}
